Service References/ServiceProdutos/WSProdutos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wssice.cloudapp.net/WSProdutos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSice" />
  <xs:element name="ListagemProdutos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credenciaisDB" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pesquisa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListagemProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSice" minOccurs="0" name="ListagemProdutosResult" nillable="true" type="q1:ArrayOfProdutos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosicaoFiliais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credenciaisDB" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosicaoFiliaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSice" minOccurs="0" name="PosicaoFiliaisResult" nillable="true" type="q2:ArrayOfPosicaoFiliais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaturamentoFiliais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credenciaisDB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaturamentoFiliaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSice" minOccurs="0" name="FaturamentoFiliaisResult" nillable="true" type="q3:ArrayOfFaturamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProdutosContador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigofilial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fantasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEmpresa" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSice" minOccurs="0" name="dados" nillable="true" type="q4:ArrayOfProdutosContador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProdutosContadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirProdutosContadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirContador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="filial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeContador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fantaria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnae" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirContadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirContadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirProdutosContador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assinatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirProdutosContadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirProdutosContadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListagemProdutosContadorCNPJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListagemProdutosContadorCNPJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFSice" minOccurs="0" name="ListagemProdutosContadorCNPJResult" nillable="true" type="q5:ArrayOfProdutosContador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>